<footer class="site-footer style-1">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="widget widget_about mb-2">
                        <div class="footer-logo logo-white mb-1">
                            <a href="home">
                                <img src="assets/images/logo.png" alt="">
                            </a>
                        </div>
                        <ul class="widget-address mb-1">
                            <li>
                                <p><span>Address</span> : 78/42, 3rd Main Rd, Gandhi Nagar, Adyar, Chennai, Tamil Nadu
                                    600020</p>
                            </li>
                            <li>
                                <p>
                                    <span>E-mail</span> : <a href="mailto:{{email}}">{{email}}</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span>Phone</span> : <a href="tel: +91 99627 00810"> +91 99627 00810</a>
                                </p>
                            </li>
                        </ul>
                        <div class="dz-social-icon style-1">
                            <ul>
                                <li class="border">
                                    <a href="https://www.facebook.com/dexignzone" target="_blank">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="border">
                                    <a href="https://twitter.com/dexignzones" target="_blank">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="border">
                                    <a href="https://www.linkedin.com/showcase/3686700/admin/" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                                <li class="border">
                                    <a href="https://www.instagram.com/dexignzone/" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="widget widget_post">
                        <h5 class="footer-title">Recent Posts</h5>
                        <ul>
                            <li>
                                <div class="dz-media">
                                    <img src="images/shop/product/small/1.png" alt="">
                                </div>
                                <div class="dz-content">
                                    <h6 class="name"><a href="post-standard.html">Cozy Knit Cardigan Sweater</a></h6>
                                    <span class="time">July 23, 2024</span>
                                </div>
                            </li>
                            <li>
                                <div class="dz-media">
                                    <img src="images/shop/product/small/2.png" alt="">
                                </div>
                                <div class="dz-content">
                                    <h6 class="name"><a href="post-standard.html">Sophisticated Swagger Suit</a></h6>
                                    <span class="time">July 23, 2024</span>
                                </div>
                            </li>
                            <li>
                                <div class="dz-media">
                                    <img src="images/shop/product/small/3.png" alt="">
                                </div>
                                <div class="dz-content">
                                    <h6 class="name"><a href="post-standard.html">Athletic Mesh Sports Leggings</a></h6>
                                    <span class="time">July 23, 2024</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Our Stores</h5>
                        <ul>
                            <li><a href="javascript:void(0);">New York</a></li>
                            <li><a href="javascript:void(0);">London SF</a></li>
                            <li><a href="javascript:void(0);">Edinburgh</a></li>
                            <li><a href="javascript:void(0);">Los Angeles</a></li>
                            <li><a href="javascript:void(0);">Chicago</a></li>
                            <li><a href="javascript:void(0);">Las Vegas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Useful Links</h5>
                        <ul>
                            <li><a href="javascript:void(0);">Privacy Policy</a></li>
                            <li><a href="javascript:void(0);">Returns</a></li>
                            <li><a href="javascript:void(0);">Terms & Conditions</a></li>
                            <li><a href="javascript:void(0);">Contact Us</a></li>
                            <li><a href="javascript:void(0);">Latest News</a></li>
                            <li><a href="javascript:void(0);">Our Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Footer Menu</h5>
                        <ul>
                            <li><a href="javascript:void(0);">Instagram profile</a></li>
                            <li><a href="javascript:void(0);">New Collection</a></li>
                            <li><a href="javascript:void(0);">Woman Dress</a></li>
                            <li><a href="javascript:void(0);">Contact Us</a></li>
                            <li><a href="javascript:void(0);">Latest News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row fb-inner p-0">
                <div class="col-lg-6 col-md-12 text-start align-content-center">
                    <p class="copyright-text">
                        © <span class="current-year">2025</span> Ezhuthupizhai. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 col-md-12 text-end">
                    <div
                        class="d-flex align-items-center justify-content-center justify-content-md-center justify-content-xl-end">
                        <span class="me-3">We Accept: </span>
                        <img src="https://odoregifts.com/wp-content/uploads/2024/10/Razorpay_Secure_Payment-1_540x1.png"
                            width="300px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>